# dependencies
backend/node_modules/
frontend/node_modules/

# env files (sensitive data)
backend/.env
backend/.env.example
backend/package-lock.json
frontend/package-lock.json

automation/allure-report/
automation/allure-results/
automation/node_modules/
automation/test-results/

